* {
  margin: 0;
  padding: 0;
}
.calContainer {
  position: absolute;
  top: 10%;
  left: 42%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
}
.row {
  display: flex;
  justify-content: space-around;
}
button {
  margin: 2px;
  height: 40px;
  width: 60px;
  font-size: 18px;
  background-color: #f1f3f6;
  border: 1px solid #f1f1f1;
}
.screenTxt {
  height: 80px;
  font-size: 24px;
  width: 100%;
}
.row-three {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  background-color: #f1f1f1;
}
#trigs {
  margin-right: 5px;
  margin-left: 2px;
  background-color: #f1f1f1;
  font-size: 15.7px;
  border: 5x solid black;
}
#funcs {
  background-color: #f1f1f1;
  padding: 2.6%;
  font-size: 16px;
}
.ops {
  font-size: 18px;
}
.btn1 {
  height: 40px;
  width: 60px;
  background-color: #f1f1f1;
}
.row1 {
  display: flex;
  justify-content: flex-start;
}
.eqBtn {
  background-color: #73c2fb;
}
input {
  border: none;
  background-color: whitesmoke;
  text-align: right;
}
input:focus {
  outline: none;
}
.lightM {
  color: lightgray;
}
.wBtn {
  background-color: #fff;
  font-weight: 600;
}
